<div class="flex flex-col pt-2 p-2 w-full h-full">
  <div class="flex flex-row w-full gap-x-2">
    <button (click)="loadUser()"
            class="w-full border border-gray-500 p-2 rounded-md bg-blue-300 transition-all ease-in-out duration300
          enabled:hover:bg-blue-400
          enabled:cursor-pointer
          enabled:hover:shadow-md
          disabled:cursor-not-allowed
          disabled:opacity-50">
      @if (true) {
        <p class="text-black">
          Load Users
        </p>
      } @else {
        <div class="flex w-full justify-center items-center">
          <app-loading-spinner class="w-6 h-6"/>
        </div>
      }
    </button>
  </div>
  <div class="flex grow w-full h-full mt-4 gap-x-2">
    <div class="w-1/2 rounded-md border border-gray-500">
      <div class="flex justify-center items-center h-10 bg-blue-300 rounded-t-md">
        <p class="text-2xl">Component A</p>
      </div>
      <div class="grid xl:grid-cols-3 p-4 gap-2">
        @for (user of usersA; track user.id) {
          <app-user-card [user]="user"/>
        }
      </div>
    </div>
    <div class="w-1/2 rounded-md border border-gray-500">
      <div class="flex justify-center items-center h-10 bg-blue-300 rounded-t-md">
        <p class="text-2xl">Component B</p>
      </div>
      <div class="grid xl:grid-cols-3 p-4 gap-2">
        @for (user of usersB; track user.id) {
          <app-user-card [user]="user"/>
        }
      </div>
    </div>
  </div>
</div>
