<div class="flex flex-col pt-2 p-2 w-full h-full">
  <div class="flex flex-row justify-end w-full gap-x-2">
    <button (click)="loadUsers()"
            class="w-full border border-gray-500 p-2 rounded-md bg-blue-300 transition-all ease-in-out duration300
          enabled:hover:bg-blue-400
          enabled:cursor-pointer
          enabled:hover:shadow-md
          disabled:cursor-not-allowed
          disabled:opacity-50">
      @if (true) {
        <p class="text-black">
          Load Users
        </p>
      } @else {
        <div class="flex w-full justify-center items-center">
          <app-loading-spinner class="w-6 h-6"/>
        </div>
      }
    </button>
  </div>
  <div class="flex grow w-full h-full mt-4 rounded-md border border-gray-500">
    <div class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 p-4 gap-2 w-full">
      @for (user of users; track user.id) {
        <app-user-card [user]="user"/>
      }
    </div>
  </div>
</div>
